.line-wrap {
    position: fixed;
    top: 0;
    left: 30px;
    right: 30px;
    bottom: 0;
    max-width: 1225px;
    margin: 0 auto;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}

.line-one {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    border-left: 1px solid #f7f7f7;
}

.line-two {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    border-left: 1px solid #f7f7f7;
}

.line-three {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    border-right: 1px solid #f7f7f7;
}