<section class="camp">
    <div class="camp__container">
        <div class="camp__column-1">
            <img src="./images/company.png" width="720" class="img-camp" alt="people on the beach">
        </div>
        <div class="camp__column-2">
            <p class="subtitle-gray">Our camp</p>
            <p class="address">CA 91932, USA<br>Imperial Beach<br>560 Silver Strand Blvd</p>
            <p class="link link-camp"><a href="#">Get in touch</a></p>
            </div>
        </div>
    </div>
</section>