<footer class="footer">
    <div class="footer__container">
        <img src="images/logo.svg" class="footer__logo" alt="brand logo">
            <nav class="footer-menu">      
                <ul>
                    <li><a href="#events">Stories</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#places">Places</a></li>
                    <li><a href="#boards">Boards</a></li>
                </ul>
            </nav>
            <div class="footer__social">
                <ul>
                    <li><a href="#" target="_blank"><img src="./icons/tumblr.svg" alt="tumblr logo"></a></li>
                    <li><a href="#" target="_blank"><img src="./icons/twitter.svg" alt="twitter logo"></a></li>
                    <li><a href="#" target="_blank"><img src="./icons/vimeo.svg" alt="vimeo logo"></a></li>
                </ul>
            </div>
    </div>
</footer>