<section class="join">
    <img src="images/background-2.png" class="join__background" alt="wave surfer">
        <div class="join__container"> 
            <div class="vertical-line"></div>
                <div class="join__content">
                    <h2>Join the Club</h2>
                    <p class="join__text">By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.</p>
                </div>
                <form action="#" method="get">
                    <label>
                        <input type="text" name="email" placeholder="Your e-mail">
                    </label>
                    <button class="join__button"><img src="./icons/arrow-right.svg" alt="arrow icon"></button>
                </form>
        </div>
</section>