<section class="main-page">
    <div class="main-page__container">
        <div class="header__container">
            <img src="images/logo.svg" class="header__logo" alt="brand logo">
                <nav class="top-menu">
                    <ul>
                        <li><a href="#events">Stories</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#places">Places</a></li>
                        <li><a href="#boards">Boards</a></li>
                    </ul>
                </nav>               
        </div>
            <div class="photo-slider"></div>
            <div class="photo-slider__tumbler">
                <img src="./icons/lightgray-left-arrow.png" alt="arrow icon"><p class="photo-slider__counter">1 / 5</p>
                <img src="./icons/lightgray-right-arrow.png" alt="arrow icon">
            </div>
        <p class="vertical-text main-page__v-t">First surfing magazine</p>
        <div class="main-info">
            <p class="subtitle-blue">Your</p>
            <h1>Beatiful Escape</h1>
            <p class="main-info__description"><span>One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.</span></p>
        </div>
        <div class="social">
            <ul>
                <li><a href="#" target="_blank"><img src="./icons/tumblr.svg" alt="tumblr logo"></a></li>
                <li><a href="#" target="_blank"><img src="./icons/twitter.svg" alt="twitter logo"></a></li>
                <li><a href="#" target="_blank"><img src="./icons/vimeo.svg" alt="vimeo logo"></a></li>
            </ul>
        </div>
    </div>
</section>
