<section class="point-break">
    <div class="point-break__container">
        <div class="point-break__photo">
            <img src="./images/beach.png" class="point-break__img" alt="beach">
        </div>
        <div class="point-break__text">
            <div class="big-figure">02
            </div>
            <h2>Point break</h2>
            <p class="point-break__description">By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.</p>
            <p class="link"><a href="#">Read more</a></p>
        </div>
    </div>
</section>
