<section class="surfboards">    
    <img src="images/background-1.png" class="surfboards__background" alt="wave surfer">
    <div class="surfboards__container">
        <div class="surfboards-title">
            <p class="subtitle-blue">Shop</p>
            <h2>Surfboards</h2>
        </div>
        <div class="surfboards-shop">
            <img src="./icons/left-arrow.png" class="surfboards__left-arrow" alt="arrow icon">
            <div class="surfboards-card"> 
                <img src="./images/surf-1.png" alt="surf model image">
                    <div class="surfboards-card__description">
                        <p class="surfboards-card__type">Funboards</p>
                        <p class="surfboards-card__name">Chilli Rare Bird</p>
                        <div class="surfboards-card__buy">
                            <p class="surfboards-card__price">$890</p>
                        </div>
                        <a href="#"><p class="button-buy">Buy</p></a>
                    </div>
            </div>
            <div class="surfboards-card"> 
                <img src="./images/surf-2.png" alt="surf model image">
                <div class="surfboards-card__description">
                    <p class="surfboards-card__type">Surfboards</p>
                    <p class="surfboards-card__name">Emery NEM XF</p>
                        <div class="surfboards-card__buy">
                            <p class="surfboards-card__price">$950</p>
                        </div>
                     <a href="#"><p class="button-buy">Buy</p></a>
                </div>
            </div>
            <div class="surfboards-card"> 
                <img src="./images/surf-3.png" alt="surf model image">
                <div class="surfboards-card__description">
                    <p class="surfboards-card__type">Funboards</p>
                    <p class="surfboards-card__name">Agency GROM</p>
                    <div class="surfboards-card__buy">
                        <p class="surfboards-card__price">$670</p>
                    </div>
                    <a href="#"><p class="button-buy">Buy</p></a>
                </div>
            </div>
            <img src="./icons/right-arrow.png" class="surfboards__right-arrow" alt="arrow icon">
            <p class="link link-center"><a href="#">Show all</a></p>
        </div>
    </div>
</section>
