<section class="video-block">      
    <div class="video-block__container">
        <div class="video-block-img">
            <img src="./images/man-with-serf.png" alt="man with surf">
            <div class="video-block-img__text">
                <p>By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.</p>
                <p class="link"><a href="#">Read more</a></p>
            </div>
        </div>
        <div class="video-block-cover">
            <img src="./images/video-cover.png" alt="man on surf">
            <img src="./icons/play-icon.svg" class ="video-block-cover__icon-play" alt="play icon">
        </div>
    </div>
</section>
